<%= render 'shared/navbar' %>

<button class="bg-red-500 hover:bg-red-700 ...">
  Hover me
</button>

<h1>This is static#index</h1>
<div class="bg-red-500 w-3/4 mx-auto p-4">
  <p class="text-white text-2xl">Test test test</p>
</div>


<div class="artgal">
  <h1 >ArtGal</h1>
</div>

<div class="cards" id="app">
  <%= image_tag(("artgal2.png"), class: "gif-1", style: "height: 800px;") %>
  <h1><a href="">XXXX</a></h1>
</div>
<div class="cards" id="app">
  <div class="row">
    <a href=""><%= image_tag(("a1.jpg"), class: "gif-1 mr-2 mb-2", style: "height: 300px; width: 300px;") %></a>
    <a href=""><%= image_tag(("a2.jpg"), class: "gif-1", style: "height: 300px; width: 300px;") %></a>
  </div>
  <div class="row">
    <a href=""><%= image_tag(("a3.jpg"), class: "gif-1 mr-2 mb-2", style: "height: 300px; width: 300px;") %></a>
    <a href=""><%= image_tag(("a4.jpg"), class: "gif-1", style: "height: 300px; width: 300px;") %></a>
  </div>
  <h1><a href="">XXXX</a></h1>
</div>

<div class="container-contact" id="footer">
  <h1><a href="">XXXX</a></h1>
</div>

<div class="container-contact p-5" id="download">
  <div class="row d-flex justify-content-around">
    <h1><a href="" >ios</a></h1>
    <h1><a href="">android</a></h1>
  </div>
</div>


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>
  $(function() {
    $('a[href*=#]:not([href=#])').click(function() {
      if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
        var target = $(this.hash);
        target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
        if (target.length) {
          $('html,body').animate({
            scrollTop: target.offset().top
          }, 1000);
          return false;
        }
      }
    });
  });
</script>