<%= render 'shared/navbar' %>


<section class=" body-font text-white" id="section-1">
    <div class="container px-8 mx-auto py-36 lg:px-4">
        <div class="flex flex-col mb-12 text-left lg:text-center">



            <h1 class="mb-6 w-full text-8xl title-font font-semibold tracking-tighter flex flex-col w-full mt-20 lg:text-center">ArtGal</h1>
            <p class="mx-auto w-full text-lg font-semibold leading-relaxed lg:w-1/2">Your mobile art collection </p>
          <a href="#section-2" class="hover:text-white p-12" diasbled>
            <button type="button" id="#" class="hover:bg-opacity-80 " disabled>
              <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="arrow-down" class="animate-bounce w-6 h-6 svg-inline--fa fa-arrow-down fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M413.1 222.5l22.2 22.2c9.4 9.4 9.4 24.6 0 33.9L241 473c-9.4 9.4-24.6 9.4-33.9 0L12.7 278.6c-9.4-9.4-9.4-24.6 0-33.9l22.2-22.2c9.5-9.5 25-9.3 34.3.4L184 343.4V56c0-13.3 10.7-24 24-24h32c13.3 0 24 10.7 24 24v287.4l114.8-120.5c9.3-9.8 24.8-10 34.3-.4z"></path></svg>
            </button>
          </a>
        </div>
    </div>
</section>

<section class="overflow-hidden text-gray-700 body-font" id="section-2">
  <div class="container px-5 py-2 mx-auto lg:pt-12 lg:px-32">
      <div class="flex flex-wrap -m-1 md:-m-2">
          <div class="flex flex-wrap w-1/4">
              
                  <div class="tooltip w-full p-1 md:p-2 ">
                        <img alt="gallery" class="download-button rounded-lg image-1 follow-mouse show-modal block object-cover object-center w-full h-full rounded-lg " 
                            src="https://cdn.abcotvs.com/dip/images/6101111_041320-kgo-ov-coronavirus-de-young-vid.jpg?w=1600">
                        <div class="container content font-medium	">
                          <h1>This is Frida Kahlo</h1>
                          <p>What do you know about her?</p>
                        </div>
                        
                  </div>
                  
              
              <div class="w-full p-1 md:p-2">
                  <img alt="gallery" class=" image-2 block object-cover object-center w-full h-full rounded-lg"
                      src="https://www.si.edu/sites/default/files/newsdesk/photos/noguchi.lunar_.landscape_3254x4500.jpg">
              </div>
          </div>
          <div class="flex flex-wrap w-1/4">
              <div class="w-full p-1 md:p-2">
                  <img alt="gallery" class="image-3 block object-cover object-center w-full h-full rounded-lg"
                      src="https://i2.wp.com/www.brainpickings.org/wp-content/uploads/2014/02/rothko2.jpg?w=680&ssl=1">
              </div>
              <div class="image-4 w-full p-1 md:p-2 text-white text-lg text-center justify-self-center">
                  <h1>Read about famous artists, view their artwork and create your own collection!</h1>   
              </div>
          </div>
          <div class="flex flex-wrap w-1/4">
              <div class="w-full p-1 md:p-2">
                
                  <img alt="gallery" class="image-5 block object-cover object-center w-full h-full rounded-lg"
                      src="https://dl.airtable.com/au5DRpogT6OHsFvuzxOW_Landscape-with-house-and-two-cows.jpeg">
                
              </div>
              <div class="tooltip w-full p-1 md:p-2">
                    <img alt="gallery" class="follow-mouse image-6 show-modal block object-cover object-center w-full h-full rounded-lg " 
                        src="https://singulart-website-prod.s3.eu-central-1.amazonaws.com/famous/artists/cropped/famous_artist_65_787b2120f9007faa11ee5dcc543b4148.jpeg">
                    <div class="container content font-medium">
                      <h1>Who painted</h1>
                      <p>The Scream?</p>
                    </div>
              </div>
              
          </div>
          <div class="flex flex-wrap w-1/4">
            <div class="w-full p-1 md:p-2">
                <img alt="gallery" class="image-7 block object-cover object-center w-full h-full rounded-lg"
                    src="https://storage.googleapis.com/glide-prod.appspot.com/uploads-v2/UhXDjUq52qIfFMY7yWP3/pub/0RjUiihJFLM3ba4d4Fb3.jpg">
            </div>
            <div class="w-full p-1 md:p-2">
                <%= image_tag(("quote6.png"), class: "image-8 block object-cover object-center w-full h-full rounded-lg")%>
                
            </div>
            
          </div>

          
      </div>
</section>  


<section class="text-gray-700 body-font">
    <div class="container flex flex-col items-center px-5 py-16 mx-auto lg:px-20 lg:py-10 md:flex-row" id="about">
        <div class="  w-5/6 mb-10 lg:max-w-lg lg:w-1/4 md:w-1/2 md:mb-0">
            <%= image_tag(("artgal_1.png"), class: "pointer-events-none object-cover object-center rounded", style: "height: 700px;") %>

        </div>
        <div class="  w-5/6 mb-10 lg:max-w-lg lg:w-1/4 md:w-1/2 md:mb-0">

            <%= image_tag(("artgal_2.png"), class: "pointer-events-none object-cover object-center rounded", style: "height: 700px;") %>
        </div>

        <div
            class="flex flex-col items-center text-center lg:flex-grow md:w-1/2 lg:pl-24 md:pl-16 md:items-start md:text-left">
           
            <h1 class="mb-8 text-2xl font-bold tracking-tighter text-center text-white  lg:text-left lg:text-5xl title-font">
                Start Discovering
            </h1>
            <p class="mb-8 text-lg font-semibold leading-relaxed text-center text-white lg:text-left lg:text-1xl">
            ArtGal is a mobile app where you can find all about artists and their artwork from throughout the world. View images, watch videos, read about artists and share your thoughts on everything art related.</p>
            

            <a href="#download">
              <button
                  class="items-center px-6 py-2 mt-4 font-semibold text-white text-opacity-80 transition duration-500 ease-in-out transform bg-trasnparent border-2 border-white rounded-lg lg:inline-flex lg:mt-px hover:border-white hover:border-opacity-80 hover:bg-white hover:bg-opacity-80 hover:text-black focus:ring focus:outline-none ">Download
              </button>
            </a>
        </div>
    </div>
</section>







                                    
  <section class="mt-40 text-white body-font" id="download">  
    <div class="container flex justify-center px-8 mx-auto py-10 lg:px-4">
        <div class="flex flex-col text-center">
        <div class="hero container max-w-screen-lg mx-auto pb-10 flex justify-center">
          <%= image_tag(("logo_white.png"), class: "w-40 h-40 ") %>
        </div>
            <div class=" px-2 py-2 lg:w-full md:w-full text-center">               
                <h1 class="mb-2 w-full text-4xl title-font font-semibold tracking-tighter flex flex-col w-full mt-2 lg:text-center">Download from</h1>
            </div>
        </div>
    </div>
    <div class="container px-8 pt-10 mx-auto lg:px-4">
        <div class="flex flex-wrap text-center">
            <div class="px-8 py-6 mx-auto lg:px-24 lg:w-2/4 md:w-full">
                <h1 class="text-white text-2xl"><a href="" >App Store</a></h1>
    
                <a href="#">
                  <i class="p-12 text-white fab fa-app-store"></i>
                </a>
            </div>
            <div class="text-white px-8 py-6 mx-auto lg:px-24 lg:w-2/4 md:w-full"> 
               <h1 class="text-white text-2xl"><a href="">Google Play Store</a></h1>
                <a href="#">
                  <i class="p-12 text-white fab fa-google-play"></i>
                </a>
            </div>
        </div>
    </div>
</section>
 

                       








                                    

                                    





      





<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>
  $(function() {
    $('a[href*=#]:not([href=#])').click(function() {
      if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
        var target = $(this.hash);
        target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
        if (target.length) {
          $('html,body').animate({
            scrollTop: target.offset().top
          }, 1000);
          return false;
        }
      }
    });
  });
</script>